<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.mapper.EmployeeMapper">

	<resultMap id="employeeMap" type="com.oa.pojo.Employee">
	    <id property="eId" column="Eid"></id>
	    <result property="eName" column="Ename"></result>
	    <result property="ePassword" column="Epassword"></result>
	    <result property="ePhone" column="Ephone"></result>
	    <result property="eCard" column="Ecard"></result>
	    <result property="eState" column="Estate"></result>
	    <result property="eIndate" column="Eindate"></result>
	    <result property="eOutdate" column="Eoutdate"></result>
	    <result property="eAddress" column="Eaddress"></result>
	    <association property="department" javaType="com.oa.pojo.Department">
	       <id property="dId" column="Did"></id>
	       <result property="dName" column="dName"></result>
	    </association>
	    <association property="position" javaType="com.oa.pojo.Position">
	       <id property="pId" column="Pid"></id>
	       <result property="pName" column="Pname"></result>
	    </association>
	</resultMap> 


	<!-- 登陆查询 -->
	<select id="selectEmployeeById" resultMap="employeeMap">
	 select * from employee e ,department d ,position p where eId=#{value} and d.Did = e.Did and e.Pid = p.Pid
	</select>

	<!-- 插入员工方法 -->
	<insert id="addEmployee" parameterType="Employee">
	 insert into employee values(#{eId},#{eName},#{ePassword},#{ePhone},#{eCard},#{pId},#{dId},#{eIndate},#{eOutdate},#{eState},#{eAddress})
	</insert>
	<!-- 更新方法 -->
	<update id="updateEmployee" parameterType="Employee">
	update employee
	<set>
	<if test="eName!=null and eName!=''">
		eName=#{eName},
	</if>
	<if test="ePassword!=null and ePassword!=''">
		ePassword=#{ePassword},
	</if>
	<if test="ePhone!=null and ePhone!=''">
		ePhone=#{ePhone},
	</if>
	<if test="eCard!=null and eCard!=''">
		eCard=#{eCard},
	</if>
	<if test="pId!=0">
		pId=#{pId},
	</if>
	<if test="dId!=0">
		dId=#{dId},
	</if>
		<if test="eIndate!=null and eIndate!=''">
		eIndate=#{eIndate},
	</if>
		<if test="eOutdate!=null and eOutdate!=''">
		eOutdate=#{eOutdate},
	</if>
	<if test="eState==0 or eState==1 ">
		eState=#{eState},
	</if>
	<if test="eAddress!=null and eAddress!='' ">
		eAddress=#{eAddress},
	</if>
	</set>
	where eId=#{eId}
	</update>
	<!-- 查询所有员工 -->
	<select id="queryAllEmployee"  resultMap="employeeMap">
		select * from employee e ,department d ,position p
		where d.Did = e.Did and e.Pid = p.Pid
	</select>
	<!-- 按部门查询员工 -->
	<select id="queryEmployeebyterm" resultMap="employeeMap" parameterType="int">
		select * from  employee e ,department d ,position p where e.dId=#{dId} and d.Did = e.Did and e.Pid = p.Pid
	</select>
</mapper>